*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color: pink;
    border:2px solid yellow;
    height:630px;
    text-align: center;
    display:grid;
    grid-template-rows: 30px 1fr 30px; 
    grid-template-columns: 150px 1fr 150px;
}
.box{
    background-color: rgb(63, 243, 63);
    border:2px solid black;
}
#box1{
    grid-column: 1/4;
    grid-row: 1/2;
}
#box2{
    grid-column: 1/2;
    grid-row: 2/3;
}
#box3{
    grid-column: 2/3;
    grid-row: 2/3;   
}
#box4{
    grid-column: 3/4;
    grid-row: 2/3;
}
#box5{
    grid-column: 1/4;
    grid-row: 3/4;
}