.container{
    height: 350px;;
    border:2px solid green;
    /* by default without any display i.e. items are stacked vertically i.e. top to bottom*/

    /* using flex in display i.e. items are stacked horizontally i.e. left to right*/
    display: flex;    

    /* direction is column i.e. items are stacked vertically i.e. top to bottom*/
    /* flex-direction: column; */

    /* direction is row i.e. items are stacked horizontally i.e. left to right*/
    /* flex-direction: row; */

    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */

    /* flex combination of direction and wrap */
    /* flex-flow: row wrap; */

    /* across the main axis */
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /* justify-content: center; */
    /*justify-content: space-around;*/
    /*justify-content: space-between;*/
    /* justify-content: space-evenly; */

    /* across the cross axis */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: baseline; */
    /* align-items: last baseline; */

    /* gap:10px; */

    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
}
.box{
    border:2px solid rgb(203, 22, 13);
    width:160px;
}