#alertt{
    color:red;
    background: pink;
    position:fixed;
}
.box{
    /* display:inline-block; */
    background:aquamarine;
    width:120px;
    height:120px;
    border:1px solid black;
}
#box2{
    position:relative;
    left:30px;
    top:20px;
}